{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        },
        "bugfixes": true
      }
    ],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ]
}
