
/.idea/
/yarn-error.log
/yalc.lock
/.yalc/
/node_modules/
/dist/
/lib/

.DS_Store

*.swp
*.swo
/.graphqlconfig
/schema.graphql
/.env

/src/generated
ddf-application.iml
/_data/
/.rancher/
/data/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions